psycopg2-binary
pymysql
python-dotenv
langgraph
langchain
langchain-core
langchain-text-splitters
langchain-postgres
fastembed
pymupdf
psycopg[binary]
pandas
numpy
sqlalchemy
ollama
openai>=1.0
fastapi
uvicorn
python-multipart
pdfplumber
PyJWT
scikit-learn

filelock>=3.13
